<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form #formLogin="ngForm" (ngSubmit)="login(formLogin)" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="formLogin.submitted && formLogin.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="email" placeholder="Correo electrónico" [(ngModel)]="usuario.email" required email>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formLogin.submitted && formLogin.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatorio</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password" [(ngModel)]="usuario.password" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>